
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div style="width:1000px; height:1000px; margin-left:10px;">

    <img src="@Url.Action("Index3","Grafik")" />

</div>

