
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post)) { 
        <input type="text" name="kod" />
        <input type="submit" value="QR Oluştur" />
    
    }
    <br />

    @if (ViewBag.karkodimaage != null) { 
        <img src="@ViewBag.karkodimaage" alt="" style="width:400px; height:400px;"/>
    }
</div>

