@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<table class="table table-bordered" style="margin-top:20px; margin-left:20px;  width:97%;">
    <tr>
        <th>id</th>
        <th>kategori adı</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Beyaz Eşya</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Beyaz Eşya</td>
    </tr>

</table>
<button class="btn btn-primary" style="margin-left:20px;">Yeni Kategori Ekle</button>
