@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<KargoTakip>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<br />

<div class="card mb-4" style="margin-top:20px;">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Cariler</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tbl1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Açıklama</th>
                        <th>Tarih</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Açıklama</th>
                        <th>Tarih</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var k in Model)
                    {
                        <tr>
                           
                            <td>@k.Aciklama</td>
                            <td>@k.Tarhi</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>