

<div class="pop-up">
    <div id="small-dialog2" class="mfp-hide book-form">

        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Kayıt Ol</h3>
                <div class="login-agileits-top">
                    <form method="post">
                        <input type="text" class="name" name="CariAd" Placeholder="Adınızı Giriniz" required="" />
                        <input type="text" class="name" name="CariSoyadı" Placeholder="SoyAdınızı Giriniz" required="" />
                        <input type="text" class="name" name="CariSehir" Placeholder="Şehrini Giriniz" required="" />
                        <input type="email" class="email" name="CariMail" Placeholder="Email Adresini Giriniz" required="" />
                        <input type="password" class="password" name="CariSifre" Placeholder="Şifre" required="" />
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum Kabul &amp; Ediyorum</label>
                        </div>
                        <input type="submit" value="Kaydol">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
